# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/
*.log

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/config.toml
paper_trades.csv

# IDEs
.vscode/
.idea/

# Matplotlib cache
.matplotlib/

# Logs and temp
*.sqlite
*.db
*.bak
*.tmp
